<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.taaasty" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the author's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".TaaastyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginActivityTheme"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.AdditionalMenuActivity"
            android:label="@string/title_activity_additional_menu"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AdditionMenuActivityTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.feeds.MyAdditionalFeedActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ShowPostActivity"
            android:label="@string/title_activity_show_post"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.UserInfoActivity"
            android:parentActivityName=".ui.ShowPostActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.ShowPostActivity" />
        </activity>
        <activity
            android:name=".ui.relationships.FollowingFollowersActivity"
            android:label="@string/title_activity_following_followers"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppThemeLightActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ShowPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
