<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.taaasty"
    tools:ignore="UnusedAttribute" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- To auto-complete the email text field in the login form with the author's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.screen.portrait" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name="ru.taaasty.TaaastyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.taaasty.ui.tabbar.LiveFeedActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.tabbar.SubscriptionsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.taaasty.ui.tabbar.MyFeedActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.taaasty.ui.tabbar.NotificationsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NotificationsActivityTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.taaasty.ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginActivityTheme"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <data android:scheme="vk3974615" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.taaasty.ui.AdditionalMenuActivity"
            android:label="@string/title_activity_additional_menu"
            android:parentActivityName="ru.taaasty.ui.tabbar.MyFeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AdditionMenuActivityTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.tabbar.MyFeedActivity" />
        </activity>
        <activity
            android:name="ru.taaasty.ui.post.ShowPostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_show_post"
            android:parentActivityName="ru.taaasty.ui.tabbar.MyFeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShowPostTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.tabbar.MyFeedActivity" />
        </activity>
        <activity
            android:name="ru.taaasty.ui.UserInfoActivity"
            android:parentActivityName="ru.taaasty.ui.post.ShowPostActivity"
            android:theme="@style/AppThemeDark" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.ShowPostActivity" />
        </activity>
        <activity
            android:name="ru.taaasty.ui.relationships.FollowingFollowersActivity"
            android:label="@string/title_activity_following_followers"
            android:parentActivityName="ru.taaasty.ui.tabbar.MyFeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreenActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.tabbar.MyFeedActivity" />
        </activity>
        <activity
            android:name="ru.taaasty.ui.photo.ShowPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="ru.taaasty.ui.feeds.TlogActivity"
            android:parentActivityName="ru.taaasty.ui.tabbar.MyFeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TlogActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.tabbar.MyFeedActivity" />
        </activity>
        <activity
            android:name="ru.taaasty.ui.post.CreatePostActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CreatePostTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <activity
            android:name="ru.taaasty.ui.post.SharePostActivity"
            android:theme="@style/SharePostTheme" >
        </activity>

        <!--
        ======================================================================
                                                AVIARY - REQUIRED ENTRIES
        ======================================================================
        -->


        <!-- Aviary Main Editor Activity -->
        <activity
            android:name="com.aviary.android.feather.sdk.FeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:hardwareAccelerated="true"
            android:process=":standalone"
            android:screenOrientation="unspecified"
            android:theme="@style/AviaryTheme"
            android:uiOptions="splitActionBarWhenNarrow" />

        <!-- CDS Content Service -->
        <service
            android:name="com.aviary.android.feather.cds.AviaryCdsService"
            android:exported="false"
            android:process=":aviarycds" >
            <intent-filter>
                <action android:name="aviary.intent.action.CDS_DOWNLOAD_START" />
                <action android:name="aviary.intent.action.CDS_RESTORE_USER_ITEMS" />
            </intent-filter>
        </service>

        <!-- Aviary Cds Content Provider -->
        <provider
            android:name="com.aviary.android.feather.cds.AviaryCdsProvider"
            android:authorities="ru.taaasty.AviaryCdsProvider"
            android:exported="false"
            android:process=":aviarycds"
            android:syncable="true" />

        <!-- Aviary CDS Download Receiver -->
        <receiver
            android:name="com.aviary.android.feather.cds.AviaryCdsReceiver"
            android:process=":aviarycds" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.aviary.android.feather.v1.API_KEY"
            android:value="@string/aviary_key" />

        <!--
        ======================================================================
                                                        END AVIARY ENTRIES
        ======================================================================
        -->

        <service
            android:name="ru.taaasty.UploadService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />

        <service
            android:name="ru.taaasty.PusherService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
