<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.taaasty"
    android:installLocation="auto"
    tools:ignore="UnusedAttribute" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- To auto-complete the email text field in the login form with the author's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.screen.portrait" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name=".TaaastyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:supportsRtl="false">
        <activity
            android:name=".ui.tabbar.LiveFeedActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeDark" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="vk3974615" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="taaasty.com"
                    android:path="/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.tabbar.MyFeedActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.tabbar.NotificationsActivity"
            android:label="@string/title_notifications"
            android:launchMode="singleTop"
            android:theme="@style/NotificationsActivityTheme" />
        <activity
            android:name=".ui.tabbar.ConversationsActivity"
            android:launchMode="singleTop"
            android:theme="@style/NotificationsActivityTheme"
            android:label="@string/title_conversations" >
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"
            android:theme="@style/LoginActivityTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ui.feeds.AdditionalFeedActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.post.ShowPostActivity"
            android:label="@string/title_activity_show_post"
            android:parentActivityName=".ui.tabbar.MyFeedActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppThemeOverlayingActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.tabbar.MyFeedActivity" />
        </activity>
        <activity
            android:name=".ui.UserInfoActivity"
            android:parentActivityName=".ui.post.ShowPostActivity"
            android:theme="@style/AppThemeDark" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.post.ShowPostActivity" />
        </activity>
        <activity
            android:name=".ui.relationships.FollowingFollowersActivity"
            android:label="@string/title_activity_following_followers"
            android:parentActivityName=".ui.tabbar.MyFeedActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.tabbar.MyFeedActivity" />
        </activity>
        <activity
            android:name=".ui.photo.ShowPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            android:theme="@style/ShowPhotoTheme" >
        </activity>
        <activity
            android:name=".ui.feeds.TlogActivity"
            android:parentActivityName=".ui.tabbar.MyFeedActivity"
            android:theme="@style/AppThemeOverlayingActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.tabbar.MyFeedActivity" />
        </activity>
        <activity
            android:name=".RouteActivity"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="taaasty.com"
                    android:pathPrefix="/~"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName=".ui.tabbar.MyFeedActivity"
            android:theme="@style/SettingsActivityTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.tabbar.MyFeedActivity" />
        </activity>
        <activity
            android:name=".ui.post.CreatePostActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".ui.post.CreateSharedPostActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.post.EditPostActivity"
            android:parentActivityName=".ui.post.ShowPostActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.post.ShowPostActivity" />
        </activity>
        <activity
            android:name=".ui.post.CreateAnonymousPostActivity"
            android:label="@string/title_anonymous_post"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.CreateFlowActivity"
            android:label="@string/title_create_flow"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.post.SharePostActivity"
            android:theme="@style/SharePostTheme" >
        </activity>
        <activity
            android:name=".ui.post.PostActionActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.post.DeleteOrReportDialogActivity"
            android:theme="@style/PostCommentActionActivityTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/taaasty"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.messages.ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:parentActivityName=".ui.tabbar.NotificationsActivity"
            android:theme="@style/AppThemeOverlayingActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.taaasty.ui.tabbar.NotificationsActivity" />
        </activity>

        <service
            android:name=".IntentService"
            android:exported="false" >
        </service>

        <!--
        https://code.google.com/p/android/issues/detail?id=82157
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />
        -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".PusherService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider${facebook_app_id_forprovider}"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <!--
        ======================================================================
                                                AVIARY - REQUIRED ENTRIES
        ======================================================================
        -->
        <!--
         Cds Content Provider,
         NOTE that the "authorities" value MUST be formatted in this way:
         android:authorities="{your.packagename}.AviaryCdsProvider"
        -->
        <provider
            android:name="com.aviary.android.feather.sdk.internal.cds.AviaryCdsProvider"
            android:authorities="${applicationId}.AviaryCdsProvider"
            android:exported="false"
            android:process=":aviary_cds" />
        <!--
        ======================================================================
                                                        END AVIARY ENTRIES
        ======================================================================
        -->

    </application>

</manifest>
